:root {
    --white: #fff;
    --green: #5ba15d;
    --green2: #5ba15d;
    --text: black;
}

.dark {
    --white: #4a4949;
    --green: #d6f2ff;
    --green2: #bfebff;
    --text: #fff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: var(--white);
    color: var(--text);
    font-size: 2rem;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 959px) {
    /*ничего менять не стоит*/
}